<h2>
  {{blog.title}}
  <small>
    Rating:
    [{{blog.rating}}]

    <span class="btn-group btn-group-sm">

      <button class="btn btn-default" type="button" ng-click="rateit(-1)">
        <span class="glyphicon glyphicon-thumbs-down"></span>
      </button>

      <button class="btn btn-default" type="button" ng-click="rateit(1)">
        <span class="glyphicon glyphicon-thumbs-up"></span>
      </button>
    </span>
  </small>

  <small>Rate It</small>
</h2>

<p>
  <a class="btn btn-default" href="/#/add-post/{{blog._id}}">
    <span class="glyphicon glyphicon-plus"></span>
    Create a Post
  </a>
</p>

<main>
  <article class="post" ng-repeat="post in blog.posts">
    <div class="pull-right">
      <a href="/#/delete-post/{{blog._id}}/{{post.postid}}">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>

    <header>
      <h4>{{post.heading}}</h4>
      <p>{{post.date}}</p>

    </header>

    <section>
      {{post.body}}
    </section>
  </article>
</main>
