<h3>Create a post for <i>{{blog.title}}</i></h3>

<form>
  <div class="form-group">
    <label>Date</label>
    <input class="form-control" ng-model="post.date">
  </div>
  <div class="form-group">
    <label>Heading</label>
    <input class="form-control" ng-model="post.heading">
  </div>
  <div class="form-group">
    <label>Body</label>
    <input class="form-control" ng-model="post.body">
  </div>
  <button type="button" class="btn btn-primary" ng-click="createblogpost()">Create Post</button>
</form>
